.tooltip1:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
  top: -6em;
  left: 5em;
  z-index: 99;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tooltip1 {
  position: relative;
}
.myoverflow {
  overflow-y: scroll !important;
  height: 280px !important;
}
.tooltip1 span {
  background: none repeat scroll 0 0 #ff8787; /*-- some basic styling */
  color: #fff;
  font-family: "Helvetica";
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 16px 15px;
  width: 100%;
  top: -4em; /*-- this is the original position of the tooltip when it's hidden */
  left: 20em;
  margin-left: 0;
  /*-- set opacity to 0 otherwise our animations won't work */
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  border-radius: 3px;

  z-index: 2;
  text-transform: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-in-out;
}

.tooltip1 span:after {
  border-color: #ff8787 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 12px 12px 0;
  border-radius: 8px;
  bottom: -15px;
  content: "";
  display: block;
  left: 31px;
  position: absolute;
  width: 0;
}

.radius-15 {
  border-radius: 15px;
}
.user-card-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}
.color-light-red {
  color: #ff6767;
}
.color-light-green {
  color: #a0ff9d;
}
.color-yellow {
  color: #f0df3f;
}
.nk-ibx-label {
  margin-left: 10px;
}
.nk-ibx-label-text {
  margin-top: 6px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px;
}
.nk-ibx-nav hr {
  border-top: 1px solid #e5e9f2;
}
.nk-ibx-menu-item .icon {
  color: #c7ccff;
}
.badge {
  justify-content: center;
}
.input-group > .form-control {
  background: #fbf9f9;
}
::-webkit-input-placeholder {
  color: #a5a0a0 !important;
}
.nk-ibx-head-tools .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dbdfea !important;
  border-right: 0px solid #000 !important;
}
.nk-ibx-head-tools .input-group-btn button {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
.center-box {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 21px #0000001a;
  border-radius: 5px;
}
.top-button {
  margin: 5px 0;
}
.top-button li {
  margin: 4px 4px !important;
}

.btn-light-gray {
  color: #707070;
  background-color: rgba(163, 163, 163, 0.3);
  border-color: rgba(163, 163, 163, 0.1);
}
.btn-light-gray:hover {
  color: #707070;
  background-color: rgba(163, 163, 163, 0.3);
  border-color: rgba(163, 163, 163, 0.1);
}

.btn-light-gray:focus,
.btn-light-gray.focus {
  color: #707070;
  background-color: #b5b5b5;
  border-color: rgba(163, 163, 163, 0.1);
  box-shadow: 0 0 0 0.2rem rgba(147, 162, 180, 0.5);
}
.nk-ibx-reply-head .title {
  color: #707070;
  margin-bottom: 0px;
}
.text-ul {
  margin-bottom: -8px;
}
.text-ul li {
  color: #707070;
  font-weight: bold;
}
.text-ul li::after {
  content: "|";
  margin-left: 16px;
  font-size: 20px;
}
.text-ul li:last-child::after {
  content: "";
}
.comment-box .nk-ibx-reply-head {
  padding: 1.5rem 1.25rem 0;
  display: block;
  align-items: flex-start;
  justify-content: space-between;
}
.comment-box .nk-ibx-reply-head .row {
  margin-left: 10px;
  margin-right: 10px;
}
.right-jumbotron {
  padding: 0px;
}
.right-jumbotron .jumbotron {
  padding: 10px 0px 0px;
  /* min-height: 240px;
  max-height: 600px; */
  background: #e9ebff;
}
.jumbotron-overflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #f5f5f5;
}
.jumbotron-overflow::-webkit-scrollbar {
  width: 8px !important;
  background-color: #f5f5f5;
}
.jumbotron-overflow::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a9ff;
}
/* 
.jumbotron-overflow:hover::-webkit-scrollbar {
  width: 10px;
} */
.right-jumbotron .jumbotron .jumbotron-overflow {
  min-height: 180px;
  max-height: 500px;
  overflow-y: scroll;
}
.right-jumbotron .jumbotron .chatbox-1,
.chatbox-2 {
  padding: 10px 15px;
  color: #000;
  margin: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.right-jumbotron .jumbotron .chatbox-1::before {
  content: "";
  font-family: "Nioicon";
  display: block;
  position: relative;
  left: -55px;
  width: 50px;
  height: 0px;
  color: #d4d89d;
  font-size: 30px;
}
.right-jumbotron .jumbotron .chatbox-2::before {
  content: "";
  font-family: "Nioicon";
  display: block;
  position: relative;
  left: -55px;
  width: 50px;
  height: 0px;
  color: #b4baf7;
  font-size: 30px;
}
.chat-bg-color-1 {
  background: #f1f4c9;
}
.chat-bg-color-2 {
  background: #d4d8ff;
}
.ol-style ol {
  list-style: decimal;
  margin-left: 10px;
}
.ol-style ol li {
  padding-left: 5px;
}
.my-dropdown {
  position: relative;
  display: inline-block;
}

.my-dropdown-folder {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -50px;
  cursor: pointer;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.my-dropdown:hover .dropdown-content {
  display: block;
}

.my-dropdown-folder .dropdown-content {
  display: block;
}
.my-dropdown .nk-ibx-label {
  margin-left: 0px;
}
.text-white {
  color: #ffffff !important;
}
.right-icon ul li {
  background: #e2e2e2;
  border-radius: 20px;
  margin: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.border-br-radius-0 {
  border-bottom-right-radius: 0px !important;
}
.border-tr-radius-0 {
  border-top-right-radius: 0px !important;
}
.border-bl-radius-0 {
  border-bottom-left-radius: 0px !important;
}
.right-icon ul li span {
  font-size: 18px;
  color: #555555;
}
.bg-highlight-1 {
  background: #f2f5c9;
  padding: 4px 6px;
  border-radius: 4px;
}
.bg-highlight-2 {
  background: #d4d8ff;
  padding: 4px 6px;
  border-radius: 4px;
}
.form-chat {
  margin: 20px 30px;
  margin-bottom: 10px;
}
.chat-btn {
  position: absolute;
  right: 4px;
  bottom: 4px;
  background: #828eff;
  color: #fff;
  border-radius: 50px;
  border-bottom-right-radius: 0px;
}
.dropdown-folder-mail {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  transform: translate3d(-150px, 30px, 0px);
}
.chat-btn:hover {
  color: #fff;
  background: #6572e4;
}

.mails-main {
  display: inline-block;
  /* border-bottom: 1px solid #ebebeb; */
}
.mails-main:hover {
  box-shadow: 20px 4px 2px 2px rgb(0, 0, 0, 0.24);
}
@media (max-width: 767px) {
}

.subject-section {
  display: flex;
}

.comment-head {
  margin-bottom: 10;
  display: flex;
  justify-content: "space-between";
  cursor: "pointer";
}

.search-navbar-head {
  min-width: 300px;
  margin-right: 40px;
}

.search-input {
  background: rgb(241, 243, 244) !important;
  height: 40px;
  border-radius: 5px !important;
}

.search-button-div {
  background: rgb(241, 243, 244);
  margin-left: -5px;
}

.search-button {
  background: rgb(241, 243, 244);
  height: 40px;
  border-radius: 5px !important;
}

.search-button-em {
  font-weight: bold;
}
.search-tag {
  margin: 15px 8px;
}
.search-tag .is-tags {
  color: #8091a7;
  cursor: pointer;
}
.search-tag .btn-dim {
  color: #8091a7;
}
.search-tag li {
  background-color: #e5e9f2;
  border-radius: 5px;
}

.no-select {
  user-select: none;
}

.css-2b097c-container {
  width: -webkit-fill-available;
}

.css-yk16xz-control {
  border-color: white !important;
  width: -webkit-fill-available !important;
}
.css-tlfecz-indicatorContainer {
  width: -webkit-fill-available !important;
}
/* .css-tj5bde-Svg{
  display: none;
} */

.myButton {
  background-color: #d3d3d3;
  border-radius: 70px;
  border: 2px solid #d3d3d3;
  display: inline-block;
  cursor: pointer;
  width: max-content;
  color: #000000a6;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 30px;
  text-decoration: none;
}
.myButton:hover {
  color: white;
  background-color: #3f54ff;
  border: 2px solid #3249ff;
}
.downloadButton {
  height: 32px;
  width: -webkit-fill-available;
  font-size: 15px !important;
  background-color: white;
  display: flex;
  align-items: center;
  color: #6576ff;
  cursor: pointer;
  justify-content: center;
  border: 1px solid #e5e9f2;
  border-radius: 4px;
}
.downloadButton:hover {
  color: white;
  background-color: #3f54ff;

  /* border: 2px solid #3249ff; */
}

.myButton:active {
  position: relative;
  top: 1px;
  color: "red";
}

.station-filter {
  position: relative;
  align-items: center;
  display: inline-block;
}
.station-filter-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 19px;
  cursor: pointer;
  margin-top: 0;
  background-color: #f9f9f9;
  min-width: 175px;
  max-height: 338px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.station-filter-bottom {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  margin-top: 0;
  background-color: #f9f9f9;
  min-width: 175px;
  max-height: 250px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

.station-filter-submit {
  justify-content: center;
  align-items: center;
  width: 45%;
}

.station-filter-dropdown-list {
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  background-color: #f9f9f9;
  min-width: 175px;
  max-height: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-group-station {
  display: block;
  margin-bottom: -16px;
  padding-left: 0.5rem;
  float: left;
  padding-top: 7px;
}

.form-group-station input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-station label {
  position: relative;
  cursor: pointer;
}

.form-group-station label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #6576ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group-station input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #6576ff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.styleTO {
  color: darkgray;
  font-size: 16px;
  font-style: "Roboto sans-serif";

  font-weight: 100;
  margin-left: 12px;
}

.styleToName {
  font-size: 16px;
  margin-left: 8px;
  color: dimgray;
}

.toBlock {
  display: flex;
  margin-top: 26px;
}
.nk-ibx-aside-update {
  background: #fff;
  width: 260px;
  overflow: hidden;
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  border-right: 1px solid #e5e9f2;
  z-index: 1;
}
.nk-ibx-aside-update-3 {
  background: #fff;
  width: 100%;
  overflow: hidden;
  min-height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  border-right: 1px solid #e5e9f2;
  z-index: 1;
}
.ul-list-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li-list-header-left {
  float: left;
}

.li-list-header-right {
  float: right;
}

/* @media print {
  .nk-ibx-reply nk-reply {
    margin-top: 100px !important;
  }
} */

/* @media print {
  .printElement {
    margin: 100mm !important;
  }
} */

.preference-container {
  padding: 29px;
}

.sub-heading {
  margin: 10px;
}

.form-data {
  margin-left: 5px;
}

.form-content {
  margin-left: 30px;
  margin-top: 14px;
}

.layout-img {
  width: 15%;
  margin-left: 40px;
}

.station-preference {
  margin-top: 15px;
  width: 20%;
}

.preference-loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 5000;
}

.back-icon {
  font-size: 2.6em;
  cursor: pointer;
}

.tox-notifications-container,
span.tox-statusbar__branding,
.tox .tox-statusbar {
  display: none !important;
}
.search-station-tags {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.marginNotesStatic {
  position: fixed !important;
  top: 140px;
  right: 30px;
  width: 25% !important;
}

.marginButtonStatic {
  position: fixed;
  top: 140px;
  right: 20%;
}

.col3-marginNotesStatic {
  position: fixed !important;
  right: 30px;
  width: 310px !important;
  bottom: 0px;
  z-index: 999;
}

.col3-marginButtonStatic {
  position: fixed;
  right: 2%;
  top: 50%;
}
.profile-section {
  border-top: 1px solid #b7c2d0;
}

.profile-button {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font: 500 14px/16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0.15px;
  margin: 16px;
  outline: 0;
  padding: 14px 90px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
}

.seprator {
  border-bottom: 1px solid #dadce0;
}

.preference-text {
  font-size: xx-large;
  font-style: italic;
  font-variant-caps: titling-caps;
  font-weight: bolder;
}

.sub-heading-preference {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.preference-bottom {
  display: flex;
}

.preference-update-button {
  margin-left: 40px;
  padding-top: 26px;
}

.preference-bottom-heading {
  margin-top: 24px;
  margin-left: 6px;
}

.preference-hide-station-list {
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  margin-left: 12px;
}

.preference-hide-station-text {
  font-weight: bold;
}

.profile-button-usercard {
  margin: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.help-section {
   display: flex;
   margin: 5px;
   align-items: right;
   text-align: right;
   cursor: pointer;
}

.help-section-icon {
   font-size: 25px;
   color: #526484;
   margin-right: 8px;
   cursor: pointer;
}

.sign-out-button {
  background-color: #6576ff;
  border-radius: 70px;
  border: 2px solid #d3d3d3;
  display: inline-block;
  cursor: pointer;
  width: max-content;
  color: #000000a6;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 7px 30px;
  margin: 8px;
  text-decoration: none;
}

.signout-button-icon {
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
}
.comment-tag {
  color: white !important;
  background: darkgray;
  padding: 4px 10px;
  border-radius: 7px;
}
.overflow {
  max-height: 50vh;
  overflow-y: auto;
}

.comment-time {
  margin-left: 12px;
  font-size: 14px;
  margin-top: 2px;
  font-weight: bold;
}

.modal-shift-top {
  top: -150px !important;
}

/* .fhaVWy {
  max-height: 400px;
  overflow-y: auto !important;
} */
.trackScroller {
  max-height: 400px;
  overflow-y: auto !important;
}

.disabled-action {
  /* cursor: not-allowed !important; */
  pointer-events: none !important;
  opacity: 0.3;
}

.margin-heading {
  display: flex !important;
  justify-content: space-between;
}
.removeBorder {
  border-right: 0px solid #e5e9f2 !important;
}
.addBottomBorder {
  border-bottom: 1px solid #e5e9f2 !important;
}

/* .margin-heading-highlighted { */
/* display: flex !important;
  justify-content: space-between; */
/* } */

.highlight-by-heading {
  padding: 2px 30px;
}

.highlight-by {
  font-style: oblique;
  font-family: "Inter";
  color: dimgrey;
  font-weight: bolder;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.add-to-folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-button {
  display: flex;
  align-items: center;
  margin-left: 5.8%;
}

.date-picker-head {
  font-size: 17px;
  font-weight: 500;
}

.mark-leave-tag {
  font-size: 161%;
  font-family: inherit;
}

.mark-leave-tag-container {
  display: flex;
  justify-content: space-between;
}

.disclaimer {
  margin-top: 3%;
}

.disclaimer-text {
  font-size: 15px;
  color: red;
  font-style: italic;
  font-weight: 300;
}

.message-forward-tag {
  display: flex;
  margin: 5% 0%;
  width: 100%;
}
.submit-block {
  display: flex;
  width: 100%;
}

.attachment-list-mailview-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attachment-list-mailview {
  display: flex;
  align-items: center;
  margin: 0.8%;
  width: 96%;
  color: #15c;
  background-color: #f5f5f5;
}

.attachment-list-name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attachment-list-size {
  color: #777;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.attachment-list-commentBox {
  display: flex;
  margin-top: -1%;
  flex-wrap: wrap;
}

.attachment-commentBox {
  margin-right: 2%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  color: #55aee2;
  cursor: pointer !important;
}
.attachment-commentbox-header {
  width: 86%;
  overflow: hidden;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attachment-name-commentBox {
  margin-right: 1%;
  font-weight: 500;
  color: black;
  font-style: italic;
}

.overflow {
  max-height: 50vh;
  overflow-y: auto;
}
.body-view-doc {
  margin-top: 1%;
  height: 665px;
  overflow-y: auto;
  color: black;
}
.header-view-doc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}

.flexing {
  justify-content: space-between;
}
#mails-main {
  height: 67px;
}
#inside-mails-main {
  height: 65px;
}

.comment-text {
  padding-right: 10px;
  font-weight: 500;
  font-family: "Segoe UI, Regular";
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
  color: rgb(82, 100, 132);
}

.other-icons {
  display: flex;
  color: #526484;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-left: 1.7%;
  width: 18.5%;
}

.compose-message-div {
  overflow: auto;
  max-height: 90%;
  height: 30rem;
}

.compose-message-div::-webkit-scrollbar {
  width: 0 !important;
}

.folder-styling {
  padding-top: 2px;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.folder-tags {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 3%;
}

.remove-folder-options {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  width: 50%;
}

.remove-folder-yes {
  background-color: #efefef;
  text-align: center;
  width: 50px;
}

.mail-per-page-preference input {
  width: 23.2rem;
  height: 2.2rem;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 0.5rem 0 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
.mail-per-page-preference input::-webkit-outer-spin-button,
.mail-per-page-preference input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mail-per-page-preference input[type="number"] {
  -moz-appearance: textfield;
}
